# Based on Adapta GTK theme by Adapta Project (https://github.com/adapta-project/adapta-gtk-theme) and on Arc Dark Fluxbox theme by Alfonso Saavedra "Son Link" <sonlink.dourden@gmail.com>

style.name: Adapta for Fluxbox
style.author: spaceille

# FONTS
menu.frame.font: Noto Sans-11
menu.title.font: Noto Sans-11:bold
toolbar.clock.font: Noto Sans-13:bold
toolbar.workspace.font: Noto Sans-11:bold
toolbar.iconbar.focused.font: Noto Sans-12:bold
toolbar.iconbar.unfocused.font: Noto Sans-12
window.label.focus.font: Noto Sans-11:bold
window.label.unfocus.font: Noto Sans-11

# Toolbar
toolbar.height: 38
toolbar.justify: center  
                                
toolbar.color: #222D32

toolbar.shaped: false           
                
toolbar.clock.color: #222D32
toolbar.clock.justify: center                  
toolbar.clock.textColor: #D3DAE3
                
toolbar.workspace.color: #222D32
toolbar.workspace.justify: center
toolbar.workspace.color: #222D32
toolbar.workspace.colorTo: #222D32
toolbar.workspace.textColor: #D3DAE3
 
toolbar.button: 
toolbar.button.color: #222D32
toolbar.button.colorTo:         
toolbar.button.picColor: #D3DAE3
toolbar.button.pressed:
toolbar.button.pressed.color: #222D32
toolbar.button.pressed.colorTo:
toolbar.button.pressed.picColor: #808791
 
toolbar.iconbar.empty:
toolbar.iconbar.empty.color: #222D32
toolbar.iconbar.empty.colorTo:
 
toolbar.iconbar.focused.borderWidth: 0
toolbar.iconbar.focused.borderColor:            
toolbar.iconbar.focused:                                
toolbar.iconbar.focused.pixmap: panel.xpm
toolbar.iconbar.focused.colorTo:                
toolbar.iconbar.focused.textColor:
toolbar.iconbar.focused.justify: center

toolbar.iconbar.unfocused.borderWidth:
toolbar.iconbar.unfocused.borderColor:
toolbar.iconbar.unfocused:
toolbar.iconbar.unfocused.color: #222D32
toolbar.iconbar.unfocused.colorTo:
toolbar.iconbar.unfocused.textColor: #808791
toolbar.iconbar.unfocused.justify: center

# Menu
menu.itemHeight: 30
menu.titleHeight: 30

menu.title: flat 
menu.titleColor: #FDFDFE
menu.title.textColor: #5B6469
menu.title.justify: center

menu.frame: flat solid
menu.frame.color: #FDFDFE
menu.frame.textColor: #5B6469
menu.frame.disableColor: #A7ABAE

menu.hilite: flat solid
menu.hilite.color: #E7E9EA
menu.hilite.textColor: #263238

menu.borderColor: #455A64

# Active window
window.bevelWidth: 0
window.roundCorners: top-left top-right
window.title.height: 30
window.title.focus: raised solid
window.title.focus.color: #222D32
window.title.unfocus: raised solid
window.title.unfocus.color: #222D32
window.title.separator.color: #222D32
window.justify: center

window.title.highlight: 20
window.title.shadow: 0

window.label.focus.pixmap: title.xpm
window.label.focus: flat solid
window.label.focus.color: #222D32
window.label.focus.textColor: #ffffff
window.label.unfocus: flat solid
window.label.unfocus.color: #222D32
window.label.unfocus.textColor: #808791

window.handle: flat solid
window.handle.color: #222D32
window.handle.focus: raised solid
window.handle.focus.color: #222D32
window.handle.unfocus: raised solid
window.handle.unfocus.color: #222D32

window.grip: flat solid
window.grip.color: #222D32
window.grip.focus: raised solid
window.grip.focus.color: #222D32
window.grip.unfocus: raised solid
window.grip.unfocus.color: #222D32

window.button.unfocus: flat solid
window.button.unfocus.color: #222D32
window.button.unfocus.picColor: #A3ADB1

window.button.focus: flat solid
window.button.focus.color: #323D42
window.button.focus.picColor: #CFD8DC

window.button.pressed: flat solid
window.button.pressed.color: #444F54
window.button.pressed.picColor: #CFD8DC

window.close.pixmap: close.xpm
window.close.unfocus.pixmap: close.xpm
window.close.pressed.pixmap: close_pressed.xpm

window.maximize.pixmap: max.xpm
window.maximize.unfocus.pixmap: max.xpm
window.maximize.pressed.pixmap: max.xpm

window.iconify.pixmap: iconify.xpm
window.iconify.unfocus.pixmap: iconify.xpm
window.iconify.pressed.pixmap: iconify.xpm

window.handle.focus.color: #222D32
window.handle.unfocus.color: #222D32
window.handleWidth: 2

window.lhalf.color: #222D32
